IdentityBoilerplate/IdentityBoilerplate/obj
IdentityBoilerplate/IdentityBoilerplate/bin
IdentityBoilerplate/IdentityBoilerplate.Client/obj
IdentityBoilerplate/IdentityBoilerplate.Client/bin

/.vs

sendgridkey